# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [104]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import learning_curve, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_validate, cross_val_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, fbeta_score
from sklearn.metrics import confusion_matrix
from sklearn import set_config

## Regression Model Evaluation

In [10]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

In [11]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [21]:
data.shape

(506, 14)

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size=0.20, 
                                                    random_state=0)

In [24]:
print(X.shape, y.shape, X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(506, 13) (506, 1) (404, 13) (102, 13) (404, 1) (102, 1)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [41]:
lr = LinearRegression()
model = lr.fit(X_train, y_train)

In [51]:
y_test_pred = lr.predict(X_test)

y_train_pred = lr.predict(X_train)

## 3. Calculate and print R-squared for both the training and the testing set.

In [53]:
print(r2_score(y_train, y_train_pred))

print(r2_score(y_test, y_test_pred))

0.7730135569264234
0.5892223849182512

## 4. Calculate and print mean squared error for both the training and the testing set.

In [55]:
print(mean_squared_error(y_train, y_train_pred))
print(mean_squared_error(y_test, y_test_pred))

19.326470203585725
33.448979997676496

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [58]:
print(mean_absolute_error(y_train, y_train_pred))
print(mean_absolute_error(y_test, y_test_pred))

3.1031563965794335
3.8429092204444966

## Classification Model Evaluation

In [59]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

In [62]:
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   test_size = 0.20,
                                                   random_state = 0)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [107]:
log = LogisticRegression(max_iter = 1000)
log.fit(X_train, y_train)

/usr/local/lib/python3.9/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression(max_iter=1000)

In [74]:
y_train_pred = log.predict(X_train)
y_test_pred = log.predict(X_test)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [77]:
accuracy_score(
    y_true = y_train,
    y_pred = log.predict(X_train)
)

0.9666666666666667

In [78]:
log.score(X_train, y_train)

0.9666666666666667

In [79]:
accuracy_score(
    y_true = y_test,
    y_pred = log.predict(X_test)
)

1.0

In [80]:
log.score(X_test, y_test)

1.0

In [81]:
# ¿demasiado accurate?

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [83]:
balanced_accuracy_score(
    y_true=y_train,
    y_pred=y_train_pred
)

0.9653972153972153

In [84]:
balanced_accuracy_score(
    y_true=y_test,
    y_pred=y_test_pred
)

1.0

## 10. Calculate and print the precision score for both the training and the testing set.

In [91]:
precision_score(
    y_true=y_train,
    y_pred=y_train_pred, average='macro'
)

0.9687370600414079

In [92]:
precision_score(
    y_true=y_test,
    y_pred=y_test_pred, average='macro'
)

1.0

## 11. Calculate and print the recall score for both the training and the testing set.

In [94]:
recall_score(
    y_true=y_train,
    y_pred=y_train_pred, average='macro'
)

0.9653972153972153

In [95]:
recall_score(
    y_true=y_test,
    y_pred=y_test_pred, average='macro'
)

1.0

## 12. Calculate and print the F1 score for both the training and the testing set.

In [96]:
f1_score(
    y_true=y_train,
    y_pred=y_train_pred, average='macro'
)

0.9666666666666668

In [97]:
f1_score(
    y_true=y_test,
    y_pred=y_test_pred, average='macro'
)

1.0

## 13. Generate confusion matrices for both the training and the testing set.

In [101]:
confusion_matrix(
    y_true=y_test,
    y_pred=y_test_pred
)

array([[11,  0,  0],
       [ 0, 13,  0],
       [ 0,  0,  6]])

In [102]:
confusion_matrix(
    y_true=y_train,
    y_pred=y_train_pred
)

array([[39,  0,  0],
       [ 0, 34,  3],
       [ 0,  1, 43]])

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.